<div class="well">
  <div class="row">
    <div class="col-md-3">
      <strong>Group name:</strong>
    </div>
    <div class="col-md-3">
      {{group?.groupName}}
      <button type="button" id="delete" class="btn btn-success" (click)="redirectToDetailsPage(group.groupdId)">Delete</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Breed</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let breed of group?.breeds">
            <td>{{breed?.breed}}</td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
