<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">Dogs Home</a>
    </div>
    <ul class="nav navbar-nav">
      <li>
        <a [routerLink]="['/groups/list']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Groups Actions</a>
      </li>
      <li>
          <a [routerLink]="['/breeds/list']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Breeds Actions</a>
        </li>
    </ul>
  </div>
</nav>
