
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 well">
        <div class="row">
          <div class="col-md-3">
            <label for="name" class="control-label">breed name:</label>
          </div>
          <div class="col-md-7">
            <span name="name">
              {{breed?.breed}}
            </span>
          </div>
        </div>
    </div>
  </div>
  <br>

<div class="row">
  <div class="col-md-offset-8 col-md-1">
    <button type="submit" class="btn btn-info" (click)="deleteBreed(breed.id)">Delete</button>
  </div>
  <div class="col-md-1">
    <button type="button" class="btn btn-danger" (click)="redirectToBreedList()">Cancel</button>
  </div>
</div>
</div>

<app-success-modal [modalHeaderText]="'Success message'"
  [modalBodyText]="'Action completed successfully'"
  [okButtonText]="'OK'"
  (redirectOnOK)="redirectToBreedList()"></app-success-modal>

<app-error-modal [modalHeaderText]="'Error message'"
  [modalBodyText]="errorMessage"
  [okButtonText]="'OK'"></app-error-modal>
