<div class="row">
  <div class="col-md-offset-10 col-md-2">
      <a [routerLink]="['/breeds/create']">Create new breed</a>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>breed name</th>
          </tr>

        </thead>
        <tbody>
          <tr *ngFor="let breed of breeds">
            <td>{{breed.breed}}</td>
            <td>
              <button type="button" id="update" class="btn btn-success" (click)="redirectToUpdatePage(breed.id)">Update</button>
            </td>
            <td>
              <button type="button" id="delete" class="btn btn-success" (click)="redirectToDeletePage(breed.id)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
